* {
    padding: 0;
    margin: 0;

}


.fondoPagina {
    /*background-image: url("img/fullteams.jpg");*/
    background-color: rgb(214, 129, 129);
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;

}
.card-body p{
margin-bottom: 0px;
}

.container form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 0;
}

nav ul li:hover{
    background-color: #ffffff22;
  
}
.imagenesEquipos{
    
    height : 327px; 
    display:block;
    margin-left : auto;
    margin-right: auto;
    width: auto;
}
.tamañoCards{
    width:auto ;
    height: 456px;
    box-shadow: 5px 5px 10px #091428,3px 2px 5px #282a2e;
  border: 4px solid black !important;
}

.tamañoCards:hover{
    background-color: salmon;
}


@media only screen and (max-width: 992px) {
   
}