* {
    padding: 0;
    margin: 0;

}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#navbarNav{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
}

.fondoPagina {
    background-image: url("../img/fondoPantallaGrande.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    /*background-color: rgb(116, 116, 116);*/
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;

}

.fondoPaginaEquipos{
    background-image: url("../img/fondoPantallaGrande.jpg");

    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    margin-top: 56px;
}

.card-body p {
    margin-bottom: 0px;
}

.container form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;

    width: 400px;
    margin: 0 auto;
    text-align: center;
}
 nav ul {
    width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
 }

nav ul li:hover {
    background-color: #ffffff22;

}

.container ul :hover{
background-color: black;
color: white;
}

.imagenesEquipos {

    height: 327px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.tamañoCards {
    cursor: pointer;
    width: auto;
    height: 456px;
    box-shadow: 5px 5px 10px #091428, 3px 2px 5px #282a2e;
    border: 4px solid black !important;
}

.tamañoCards:hover {
    background-color: salmon;
}

/* Estilo para la tabla */

.oscuridad th {
    background-color: black !important;
    color: white;
    border-color: #ffffff;
}

span {
    color: white;

}

#textoCargando {

    color: white;

}
#imagen-equipo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

  }
  
  #listaJugadores{
    cursor: pointer;
  }
#puntosMediaEquipo p{
    padding-top: 10px;
}

#edadMediaEquipo  p{
    padding-top: 10px;
}
.rotating-image {
    animation: rotate 2s linear infinite;
}
/* CSS usado para aumentar el zoom de las imagenes la pasar el mouse por encima suya */
.card-img-top.hover-zoom {
    transition: transform 0.5s; 
  }
  
  .card-img-top.hover-zoom:hover {
    transform: scale(1.1); 
  }
  
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 992px) {
   
}
@media only screen and (max-width: 576px) {
    
       #navbarNav:nth-child(1){
        text-align: center;
       }
       #navbarNav {
        position: none;
        
    }
    
}


/**/